.detailsForDayWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .blur {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(44, 44, 44, 0.7);
  }

  .detailsForDay {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: rgb(21, 25, 43);
    color: white;
    padding: 20px 20px 40px;
    border-radius: 10px;
    z-index: 1;

    .main {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    @media (min-width: 600px) {
      & {
        width: 600px;
        height: 300px;
        flex-direction: row;

        .main {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .description {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }

    h1 {
      font-size: 46px;
    }

    h2 {
      font-size: 20px;
    }

    .date {
      align-self: center;
    }

    .temp {
      align-self: center;
      margin-bottom: 30px;
    }

    img {
      width: 80px;
      height: 80px;
      align-self: center;
    }
  }
}
